img {
    width: 50px;
    height: 50px;
}

#logo {
    width: 300px;
    height: 100px;
}

table {
    border-collapse: collapse;
    border: 1px solid;
}

td {
    text-align: center;
    width: 100px;
    border-bottom: 1px solid;
    
}

td:nth-child(10){
    width: 200px;
}

td:nth-child(3){
    background-color: red;
}
td:nth-child(4){
    background-color: cornflowerblue;
}
td:nth-child(5){
    background-color: magenta;
}
td:nth-child(6){
    background-color: limegreen;
}
td:nth-child(7){
    background-color: yellow;
}

tr {
    border-bottom: 1px solid;
}

#info{
    display: flex;
}

#checkboxes {
    display: grid;
    grid-template-columns: repeat(60,1fr);
}

#index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

div img {
    padding-top: 30px 
}

#Milotic {
    width:200px; 
    height:200px;
}

#Feebas {
    width:170px; 
    height:170px;
}

#Nayade {
    width: 320px; 
    height: 200px;
}

button {
    background-color: white;
    color: red;
    border: 2px solid;
}

button:hover {
    background-color: red;
    color: white;
    border: 2px solid;
}